* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f6f8f9;
    
}

header {
    background-color: white;
    padding: 10px 0;

    
}

/* LOGO */

.logo {    
    vertical-align: middle;
    margin: 0 0 0 20px;
}

.logotext {
    font-size: 30px;
    font-weight: bold;
    vertical-align: middle;

}

/* FINE LOGO */

.container {
    background-color: white;
    height: 300px;
    width: 80%;
    margin: 40px auto;
}

/* BOTTONI */

.addtask {
    background-color: #47adf1;
    padding: 0.5em;
    color: white;
    border-radius: 6px;
    border: none;
    margin: 15px 0 10px 50px;
    font-weight: bold;
}

.addsection {

    padding: 0.5em;
    border-radius: 6px;
    border: none;
    background-color: white;
    border: 2px solid lightgrey;
    color: lightgrey;
    font-weight: bold;

}

/* FINE BOTTONI */

hr {
    background-color: #f6f8f9;
    height: 3px;
    border: 0;
    
}

